#+
# Name:
#    wfcam.cfg
#
# Purpose:
#    WFCAM configuration data file for ORAC-OT.
# 
# Description:
#    This file is organised into a series of information "blocks".  One
#    "block" provides information on a single item, though this information
#    may be complex.  A block may not have comments within it; it is in
#    fact delimited by the comment character.  For practical purposes this
#    means that you should comment each information block, as this will
#    also delimit them.  Section "Blocks" describes the options for an
#    information block.
#
# Blocks:
#    Blocks are one of the following:
#    -  keyword with a single value, e.g. DEFAULT_DISPERSER = "150lpmm";
#    -  keyword with a vector of values, e.g.
#    INSTRUMENT_APER = {6.35, 11.77, 0.0, 1.0}; or
#    -  keyword with a 2D array of values, e.g. DISPERSERS (see below).
#    Note that each value may be a string or a number, however, it must be
#    capable of being interpreted correctly by the OT.
#    -  A vector of values is initiated by "{" and ended by "}", the values
#    being delimited by commas.
#    -  A 2D table is written as a series of vectors, i.e. each "row" of
#    the table should be written as a vector, and the rows placed one after
#    another inside a surround brace of curly brackets.  It is not necessary
#    to place each row on a separate line, but it is recommended.
#
# Notes:
#    -  Blank lines are allowed anywhere and ignored.
#    -  Comment lines (starting with "#") are ignored except that they
#    delimit blocks (as outlined above).
#    -  Keywords are case-insensitive, however, everything else is case
#    sensitive.
#
# Authors:
#    DAP: Alan Pickup (ATC)
#    MFO: Martin Folger (ATC)
#
# History:
#    2001 October 31 (DAP):
#       Original version.
#
#    2003 June 30 (MFO):
#       Microstep patterns added.
#
#    2004 January 29 (DAP):
#       Actual (non-dummy) readModes.
#
#    2004 May 21 (DAP):
#       Chnaged to agreed list of filter names
#

# Configuration type
CONFIG_TYPE = "Normal"

# Configuration version
VERSION = "1"

# Default position angle
DEFAULT_POSANGLE = 0.0

# Default aperture (X, Y, Z, LAMBDA).
INSTRUMENT_APER = {0.0, 0.0, 0.0, 1.6}

# Read Modes
READMODES = { "CDS", "SRR", "NDR_1.0", "NDR_1.5", "NDR_2.0", 
              "FOWLER_2", "FOWLER_4", "FOWLER_8", "subarray", "DUMMY" }

# Default readMode
DEFAULT_READMODE = "CDS"

# Filters
FILTERS = {
      { "Z",         0.83,  0.925 }
      { "Y",         0.97,  1.07  }
      { "J",         1.17,  1.33  }
      { "H",         1.49,  1.78  }
      { "K",         2.03,  2.37  }
      { "1-0S1",     2.111, 2.132 }
      { "1.644FeII", 1.631, 1.659 }
      { "Blank",     0,     0     } }

# Unused filters
#      { "BGamma",    2.155, 2.177 }
#      { "1.205nbJ",  1.199, 1.211 }
#      { "1.619nbH",  1.617, 1.638 }

# Default filter
DEFAULT_FILTER = "K"

# Default exposure time
DEFAULT_EXPTIME = 10.0

# Default number of coadds
DEFAULT_COADDS = 1

# Default exposure time for Flat
DEFAULT_FLAT_EXPTIME = 10.0

# Default number of coadds for Flat
DEFAULT_FLAT_COADDS = 1

# Default exposure time for Focus
DEFAULT_FOCUS_EXPTIME = 10.0

# Default number of coadds for Focus
DEFAULT_FOCUS_COADDS = 1

# Microstep patters
# Format: name, dx1, dy1, dx2, dy2, ...
# where dxn, dyn are the offsets in RA, Dec in arcseconds.
MICROSTEP_PATTERNS = {
      { "NONE", 0, 0}
      { "2x2 small 1",  0,  0,  1.39, 0,  1.39, 1.39,  0, 1.39 }
      { "2x2 small 2",  0,  0,  0, 1.39,  1.39, 1.39,  1.39, 0 }
      { "2x2 small 3",  0,  0,  1.39, 1.39,  1.39, 0,  0, 1.39 }

      { "2x2 medium", 0,  0,    0, 4.18, 4.18, 4.18,   4.18,  0 }
      { "2x2 large", 0,  0,    0, 6.97, 6.97, 6.97,   6.97,  0 }

      { "3x3 tiny",  0, 0,  1.05, 0,  1.05, 1.05,
                        0, 1.05,  -1.05, 1.05,  -1.05, 0,
			-1.05, -1.05,  0, -1.05,  1.05, -1.05}
      { "3x3 small",  0, 0,  1.74, 0,  1.74, 1.74,
                        0, 1.74,  -1.74, 1.74,  -1.74, 0,
			-1.74, -1.74,  0, -1.74,  1.74, -1.74}
      { "3x3 med",  0, 0,  3.49, 0,  3.49, 3.49,
                        0, 3.49,  -3.49, 3.49,  -3.49, 0,
			-3.49, -3.49,  0, -3.49,  3.49, -3.49}
      { "3x3 large",  0, 0,  4.53, 0,  4.53, 4.53,
                        0, 4.53,  -4.53, 4.53,  -4.53, 0,
			-4.53, -4.53,  0, -4.53,  4.53, -4.53}


# that's it!

