#
# This file specifies configuration information for the Observing Tool.
# Each observatory site that uses the Observing Tool will have its own
# unique configuration.  Configurable elements are specified by key/value
# pairs in the format:
#
#	key: value
#
# Some elements have more than one key/value pair.
#
# Site-specific classes should be stored in a package contained in the
# ot_gemini package.
#
# There are several configurable elements as described below:
#
#
# ---------------
# Guide Star Tags
# ---------------
#
#   This item specifies the tags that will be used for guide stars at
#   this observatory.  The "guide" key indicates this item.  There
#   should only be one guide key in the file, and its values should be
#   comma separated.
#
#   Example:
#		guide:		PWFS1, PWFS2, OIWFS
#
#   This observatory has PWFS1, PWFS2, and OIWFS guide stars.  These
#   choices will be available when the target list is defined and will
#   show up in the Position Editor.
#
#
# ------------------------------
# Position Editor Image Features
# ------------------------------
#
#   One or more add-on image features can be specified.  Each feature
#   specified will have its own toggle button on the Position Editor
#   window and this button will always be present regardless of the
#   context or selected item in the Program Hieararchy view.
#
#   Two keys specify an add-on image feature:
#
#   "tpe feature" - this is the fully qualified class name of the add-on
#   image feature.  The class that it indicates must be a subclass of
#   ot.tpe.TpeImageFeature.
#
#   "tpe type" - this should be one of "target", "instrument", or
#   "independent".  Target dependent features are disabled when there is
#   no target list in the current scope.  Instrument dependent features
#   are disabled when there is no instrument in the current scope, and
#   independent features are never disabled.
#
#   Example:
#		# Acquisition Camera
#		tpe feature:	ot_gemini.tpe.TpeAcqCameraFeature
#		tpe type:	independent
#
#   This example specifies a TpeImageFeature that displays the size of
#   the observatory's acquistion camera.  It is independent of context,
#   and so is available regardless of whether there is a target list or
#   an instrument.
#
#
# -------------
# Program Items
# -------------
#
# A set of observatory-specific program items may be specified.  Instruments
# and many iterators fall into this category.  There are three kinds of
# program items that may be configured.  These are listed below along with
# the base class that each must ultimately subclass:
#
#    1) instruments		gemini.sp.obsComp.SpInstObsComp
#    2) "observe" iterators	gemini.sp.iter.SpIterObserveBase
#    3) "normal" iterators	gemini.sp.iter.SpIterComp
#
# "Observe" iterators are leaves in the program hierarchy tree and are 
# operated upon by more complex iterators like the "Offset" iterator.  They
# specify a repeat (observe) count, and optionally an exposure time per
# observe, and coadd count.
#
# There are three keys that specify a program item.  Two are required and
# one is optional:
#
# "class" - the fully qualified class name.  As noted, the class must
# subclass one of the three base classes above depending upon whether it
# is an instrument, iterator, or observe iterator.
#
# "editor" - this is the fully qualified name of the editor for this item.
# It must subclass ot.editor.OtItemEditor.
#
# "img feature" - this tag is optional.  If present it must be the fully
# qualified name of a ot.tpe.TpeImageFeature subclass.  When the user has
# selected this item in the Program Hierarchy view, the associated image
# feature will be available in the Position Editor, if opened.
#
# Example:
#
#	# NIRI
#	class:		ot_gemini.inst.SpInstNIRI
#	editor:		ot_gemini.inst.editor.EdCompInstNIRI
#	img feature:	ot_gemini.inst.SpInstNIRI_OIWFS_Feature
#
# This example defines an instrument component because SpInstNIRI
# derives from gemini.sp.obsComp.SpInstObsComp (though this information
# isn't apparent from the key/value pairs themselves).  The editor used
# to configure this component is implemented in EdCompInstNIRI.  Finally
# there is an image feature that should be associated with this class.
# In this case, when the user has selected the NIRI component with the
# Position Editor open, s/he will be able to toggle the view of its on-
# instrument wave-front sensor range.
#


# (guide: TO BE REMOVED from JCMT ot.cfg) Tags for the guide star entries in the target list.
guide:		GUIDE

# Name resolvers used in target list editor
name resolvers:	SIMBAD Names CADC, SIMBAD Names ESO, NED Names CADC, NED Names ESO

# Acquisition Camera
tpe feature:	ot.ukirt.tpe.TpeAcqCameraFeature
tpe type:	independent

# ISU2 x-head limits
tpe feature:	ot.ukirt.tpe.TpeXheadFeature
tpe type:	independent

# dichroic range
tpe feature:	ot.ukirt.tpe.TpeDichroicFeature
tpe type:	independent

# Irpol obstructions
#tpe feature:	ot.ukirt.tpe.TpeIrpolFeature
#tpe type:	independent

# DRRECIPE
class:		orac.ukirt.inst.SpDRRecipe
editor:		ot.jcmt.inst.editor.EdDRRecipe

# SITE QUALITY
class:		orac.jcmt.obsComp.SpSiteQualityObsComp
editor:		ot.jcmt.obsComp.editor.EdCompSiteQuality

# SCUBA
class:		orac.jcmt.inst.SpInstSCUBA
editor:		ot.jcmt.inst.editor.EdCompInstSCUBA

# Heterodyne
class:		orac.jcmt.inst.SpInstHeterodyne
editor:		ot.jcmt.inst.editor.EdCompInstHeterodyne

# Focus Obs Iterator
class:		orac.jcmt.iter.SpIterFocusObs
editor:		ot.jcmt.iter.editor.EdIterFocusObs

# Jiggle Obs Iterator
class:		orac.jcmt.iter.SpIterJiggleObs
editor:		ot.jcmt.iter.editor.EdIterJiggleObs

# Pointing Obs Iterator
class:		orac.jcmt.iter.SpIterPointingObs
editor:		ot.jcmt.iter.editor.EdIterPointingObs

# Raster Obs Iterator
class:		orac.jcmt.iter.SpIterRasterObs
editor:		ot.jcmt.iter.editor.EdIterRasterObs

# Skydip Obs Iterator
class:		orac.jcmt.iter.SpIterSkydipObs
editor:		ot.jcmt.iter.editor.EdIterSkydipObs

# Stare Obs Iterator
class:		orac.jcmt.iter.SpIterStareObs
editor:		ot.jcmt.iter.editor.EdIterStareObs

# Frequency Iterator
class:		orac.jcmt.iter.SpIterFrequency
editor:		ot.ukirt.iter.editor.EdIterUKIRTGeneric


# Michelle Calibration Unit Obs Iterator
# class:		orac.ukirt.iter.SpIterCalObs
# editor:		ot.ukirt.iter.editor.EdIterCalObs


# Calibration Unit Config Iterator
#class:		orac.ukirt.iter.SpIterCGS4CalUnit
#editor:	ot.editor.EdIterGenericConfig

# CGS4 Config Iterator
#class:		orac.ukirt.iter.SpIterCGS4
#editor:		ot.ukirt.iter.editor.EdIterUKIRTGeneric

# Michelle Config Iterator
#class:		orac.ukirt.iter.SpIterMichelle
#editor:		ot.ukirt.iter.editor.EdIterUKIRTGeneric

# UFTI Config Iterator
#class:		orac.ukirt.iter.SpIterUFTI
#editor:		ot.ukirt.iter.editor.EdIterUKIRTGeneric

# IRCAM3 Config Iterator
#class:		orac.ukirt.iter.SpIterIRCAM3
#editor:		ot.ukirt.iter.editor.EdIterUKIRTGeneric

# FP Config Iterator
#class:		orac.ukirt.iter.SpIterFP
#editor:		ot.ukirt.iter.editor.EdIterUKIRTGeneric

# IRPOL Config Iterator
#class:		orac.ukirt.iter.SpIterIRPOL
#editor:		ot.ukirt.iter.editor.EdIterUKIRTGeneric

# UKIRT libraries
library:        IRCAM3-Standards, UFTI-Standards, UKIRT-Template, CGS4_bright_G

# Validation tool class
validation:     orac.ukirt.validation.UkirtSpValidation

