#+
# Name:
#    scuba.cfg
#
# Purpose:
#    SCUBA configuration data file for ORAC-OT
# 
# Description:
#    This file is organised into a series of information "blocks".  One
#    "block" provides information on a single item, though this information
#    may be complex.  A block may not have comments within it; it is in
#    fact delimited by the comment character.  For practical purposes this
#    means that you should comment each information block, as this will
#    also delimit them.  Section "Blocks" describes the options for an
#    information block.
#
# Blocks:
#    Blocks are one of the following:
#    -  keyword with a single value, e.g. DEFAULT_DISPERSER = "150lpmm";
#    -  keyword with a vector of values, e.g.
#    INSTRUMENT_APER = {6.35, 11.77, 0.0, 1.0}; or
#    -  keyword with a 2D array of values, e.g. DISPERSERS (see below).
#    Note that each value may be a string or a number, however, it must be
#    capable of being interpreted correctly by the OT.
#    -  A vector of values is initiated by "{" and ended by "}", the values
#    being delimited by commas.
#    -  A 2D table is written as a series of vectors, i.e. each "row" of
#    the table should be written as a vector, and the rows placed one after
#    another inside a surround brace of curly brackets.  It is not necessary
#    to place each row on a separate line, but it is recommended.
#
# Notes:
#    -  Blank lines are allowed anywhere and ignored.
#    -  Comment lines (starting with "#") are ignored except that they
#    delimit blocks (as outlined above).
#    -  Keywords are case-insensitive, however, everything else is case
#    sensitive.
#
# Authors:
#    MFO: Martin Folger (ATC)
#
# History:
#    2002 January 31 (MFO):
#       Original version, containig FITLERS and JIGGLE_PATTERNS.
#
#-



#           filter       sub instruments
FILTERS = { "450W:850W", {"Short", "Long"},
            "850S:PHOT", {"P1350", "P2000", "P1100"}
	  }

# Jiggle patterns
# 1st Row: Sub-instrument
# 2nd Row: List of jiggle patterns
JIGGLE_PATTERNS = {
  "Short", { "DEFAULT" },
  "Long",  { "DEFAULT" },
  "P1350", { "3X3", "5X5", "7X7", "9X9" },
  "P2000", { "3X3", "5X5", "7X7", "9X9" },
  "P1100", { "3X3", "5X5", "7X7", "9X9" },
}

# Chop frequency in Hz.
CHOP_FREQUENCY  = 8

# Default SCAN dx
DEFAULT_SCAN_DX = 3

# Default SCAN dy
DEFAULT_SCAN_DY = 60


